$phone: "only screen and (min-width: 768px)";
$tablet: "only screen and (min-width: 992px)";
$desktop: "only screen and (min-width: 1200px)";

body{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	clear: both;
	border-bottom: 1px solid #999;
	box-shadow: 0px 2px 4px #999;

	.container-logo{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 20px 10px;

		.logo img{
			height: 50px;
		}

		.nav-button{
			padding: 0px 12px;
			background-color: transparent;
			border: 1px solid #ddd;
			border-radius: 4px;
			height: 40px;

			&:hover{
				background-color: #ddd;
				cursor: pointer;
			}
			&:focus{
				outline: none;
			}
			.button-bar{
				display: block;
				color: #333;
				width: 22px;
				height: 2px;
				background-color: #888;
				margin-top: 4px;
				
				&:first-child{
					margin-top: 0px;
				}
			}
		}
	}



	.container-menu{
		
		.main-menu{
			display: none;
		}

		.main-menu{
			position: relative;
			width: 100%;
			margin-top: 40px;
			left: 0;
			background-color: #333;

			ul{
				margin: 0;
				padding: 0;
				display: block;

				li{
					a{
						list-style-type: none;
						padding: 14px 10px;
						border-bottom: 1px solid #999999;
						text-decoration: none;
						color: #fff;
						font-size: 18px;
						display: block;
						font-size: 12px;
						font-weight: 700;
						font-family: Montserrat, sans-serif;
						text-transform: uppercase;
						letter-spacing: 1px;
					
						i{
							margin-left: 5px;
						}
					}
					ul{
						display: none;
					}
					.second-level{
						background-color: #404040;
					}

					ul.second-level li{ 
						a{
							padding: 10px 16px;
						}
						.third-level{
							background-color: #4d4d4d;
							li a{
								padding: 8px 22px;
							}
						}
					}
				} 
			}
		}

	}
}






section{
	display: flex;
	margin-top: 30px;
	background-color: #333;
	height: 400px;
}




/*phone */

@media only screen and (min-width: 768px){
	
}

@media only screen and (min-width: 992px){

	header{
		flex-direction: row;
		justify-content: space-between;
		padding: 0px 100px;
	}
	button{
		display: none;
	}

	.second-level{
		display: none!important;
	}

	.third-level{
		display: none!important;
	}

	nav{
		display: block!important;
	}
	
	.main-menu{
		margin-top: 24px!important;
		ul li{
			float: left;
			list-style-type: none;
			margin-left: 10px;
			a{
				color: red!important;
				border-bottom: none!important;
				background-color: blue;
			}
			&:hover .second-level{
				display: block!important;
			}
			&:last-child{
				.second-level:hover .third-level{
					left: -95%;
				}
			}
			.second-level{
				position: absolute;
				li{
					float: none!important;
					margin-left: 0px;
					text-align: center;
					a{
						background-color: yellow;
					}
					&:hover .third-level{
						position: absolute;
						display: block!important;
						left: 100%;
						margin-top: -34px;
					}
					.third-level{
						
					}
				}
			}

		}
	}
}  

@media only screen and (min-width: 1200px){

} 