body {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  flex-direction: column;
  clear: both;
  margin: 0 auto;
  border-bottom: 1px solid #999;
  box-shadow: 0px 2px 4px #999; }
  header .container-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px;
    background-color: #333333; }
    header .container-logo .logo h2 {
      margin: 0px;
      color: #fff; }
    header .container-logo .nav-button {
      height: 34px;
      padding: 0px 10px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 4px;
      transition: all .4s ease; }
      header .container-logo .nav-button:hover {
        background-color: #fff;
        border: 1px solid #333333;
        cursor: pointer; }
        header .container-logo .nav-button:hover .button-bar {
          background-color: #333333; }
      header .container-logo .nav-button:focus {
        outline: none; }
      header .container-logo .nav-button .button-bar {
        display: block;
        width: 22px;
        height: 2px;
        margin-top: 4px;
        color: #333;
        background-color: #fff;
        transition: all .4s ease; }
        header .container-logo .nav-button .button-bar:first-child {
          margin-top: 0px; }
  header .container-menu .main-menu {
    display: none; }
  header .container-menu .main-menu {
    position: relative;
    width: 100%;
    left: 0;
    background-color: #333333;
    border-top: thin solid #666666; }
    header .container-menu .main-menu ul {
      display: block;
      margin: 0;
      padding: 0; }
      header .container-menu .main-menu ul li a {
        display: block;
        padding: 14px 10px;
        font-size: 12px;
        font-weight: 700;
        font-family: Montserrat, sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        list-style-type: none;
        text-decoration: none; }
        header .container-menu .main-menu ul li a:hover {
          background-color: #4d4d4d; }
        header .container-menu .main-menu ul li a i {
          margin-left: 5px; }
      header .container-menu .main-menu ul li ul {
        display: none; }
      header .container-menu .main-menu ul li .second-level {
        background-color: #4d4d4d; }
      header .container-menu .main-menu ul li ul.second-level li a {
        padding: 12px 20px; }
        header .container-menu .main-menu ul li ul.second-level li a:hover {
          background-color: #666666; }
      header .container-menu .main-menu ul li ul.second-level li .third-level {
        background-color: #666666; }
        header .container-menu .main-menu ul li ul.second-level li .third-level li a {
          padding: 10px 30px; }
          header .container-menu .main-menu ul li ul.second-level li .third-level li a:hover {
            background-color: gray; }

@media only screen and (min-width: 992px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: #333333; }
    header .logo h2 {
      margin: 5px 0px 0px !important; }
    header button {
      display: none; }
    header nav {
      display: block !important; }
      header nav .second-level {
        display: none !important; }
      header nav .third-level {
        display: none !important; }
      header nav ul li {
        float: left;
        margin-left: 10px;
        list-style-type: none; }
        header nav ul li a {
          padding: 25px 10px !important;
          border-bottom: none !important;
          cursor: pointer; }
        header nav ul li:hover .second-level {
          display: block !important; }
        header nav ul li:last-child .second-level:hover .third-level {
          left: -180px; }
        header nav ul li .second-level {
          position: absolute; }
          header nav ul li .second-level li {
            float: none !important;
            margin-left: 0px;
            text-align: center; }
            header nav ul li .second-level li a {
              width: 180px;
              padding: 10px 0px !important; }
            header nav ul li .second-level li:hover .third-level {
              position: absolute;
              display: block !important;
              left: 100%;
              margin-top: -34px; } }

/*# sourceMappingURL=style.css.map */
